
<h1> <%="#{@user.username}"%> - songs with most severe vibes: </h1>

<% @most_severe_vibes.each do |v| %>
	<%= v.vibe.name %>
		<%= link_to "#{v.song.name}", user_song_path(v.song.user, v.song) %>
<br>
<%= @vibes %>
<% end %>