
<h1> <%="#{@user.username}"%> - songs with most severe vibes: </h1>

<% @song_hash.each do |v, s_array| %>
<br>
	<h4><%= v %></h4>
	<br>
	<% s_array.each do |s| %>
		<%= link_to "#{s.name}", user_song_path(s.user, s) %> <br>
	<% end %>
<% end %>

<br>